/*ページ全体*/
body{
    text-align:center;
	background-color: aliceblue;
}

/*タイトル、スコア表示エリア*/
.header{
    border:1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*header内のスコア表示*/
.score{
	border:1px solid black;
    padding:10px;
}

/*手を選択するエリア*/
.game-area{
    border:1px solid red;
}

/*ルール表示エリア*/
.footer{
    border:1px solid blue;
}

/*上段の手*/
.top{
    margin-bottom:30px;
}

/*下段の手*/
.bottom{
    display:flex;
    justify-content:space-around;
}

/*ボタン*/
button{
	/* 背景色を無色に */
	background: transparent;
	/* 枠線を消す */
	border: none;
	/* クリックした際に枠線をnone消す */
	outline: none;
	/* 影を消す */
	box-shadow: none;
}

/*画像*/
.jankenHand{
	width: 100px;
	height: 100px;
	cursor: pointer;
}
.jankenHand:hover{
	transform: scale(1.1);
}