<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>じゃんけん</title>
	
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<!--ヘッダー-->
	<div class="header">
		<div class="title">
			ROCK <br>
			PAPER <br>
			SCISSORS
		</div>
		<form action="/reset" method="post">
			<div class="reset">
				<button type="submit" name="reset">
					スコアリセット
				</button>
			</div>
		</form>
		<div class="score">
			SCORE
			<p th:text="${score}"></p>
		</div>
	</div>
	<!--ゲームエリア-->
	<div class="game-area">
		<form action="/play" method="post">
			<!--上段の手-->
			<div class="top">
				<div class="scissors">
					<button type="submit" name="hand" value="チョキ">
						<img th:src="@{/images/janken_choki.png}" class="jankenHand">
					</button>
				</div>
			</div>
			<!--下段の手-->
			<div class="bottom">
				<div class="rock">
					<button type="submit" name="hand" value="グー">
						<img th:src="@{/images/janken_gu.png}" class="jankenHand">
					</button>
				</div>
				<div class="paper">
					<button type="submit" name="hand" value="パー">
						<img th:src="@{/images/janken_pa.png}" class="jankenHand">
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="result-box">
		<!--自分の手を表示-->
		<div class="result">
			あなたの手：<span th:text="${hand}"></span>
		</div>
		<!--相手の手を表示-->
		<div class="result">
			CPUの手：<span th:text="${cpuHand}"></span>
		</div>
		<!--勝敗結果の表示-->
		<div class="judgeResult">
			結果：<span th:text="${judgeResult}"></span>
		</div>
	</div>
	<!--ルール表示-->
	<div class="footer">
		RULES
	</div>

</body>
</html>